body {
  background-color: #dfd3c3;
  font-family: "Roboto", sans-serif;
}

a {
  color: #ac7c7c;
}

.weather-section {
  background-color: rgba(239, 236, 229, 0.5);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba (65, 50, 100, 0.08);
  border-radius: 15px;
}

header {
  border-bottom: 1px solid #dfd3c3;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #dfd3c3;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  font-size: 17px;
  font-weight: 500;
  background-color: #c7b198;
  padding: 15px 25px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: #f0ece2;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
  color: #ac7c7c;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.city-weather {
  color: #ac7c7c;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.details-weather {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #a18e79;
}

.details-weather strong {
  color: #ac7c7c;
}

.temperature-section {
  display: flex;
}

.icon-weather {
  font-size: 44px;

  width: 88px;
  height: 88px;
  line-height: 28px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.temperature-value {
  color: #ac7c7c;
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
}

.temp-unit {
  color: #ac7c7c;
  margin-top: 15px;
  font-size: 25px;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}

.garlic {
  max-width: 45px;
}

footer {
  border-top: 1px solid #dfd3c3;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #a18e79;
}
